html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  color: black;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  

}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 600%;
  text-align: center;
  color: #000000;
}

h2 {
  color: #1ed760;
  text-decoration: underline;
  font-size: 32px;
}

p {
  font-size: 20px;
  font-weight: 500;
}

.introcontent {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.introcontent p {
  display: flex;
  align-items: center;
  width: 20%;
}
.profile img {
  width: 300px;
  border-radius: 100%;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.mainBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.skilltitle {
  color: #000000;
  text-decoration: none;
  font-size: 28px;
}
.navHead {
  text-align: center;
}

#rocket {
  background: #f1f1f1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.navMenu {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 1em;
  z-index: 3;
}

.navBG {
  border-radius: 40px;
  background-color: #f1f1f1;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.navHead {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.navMenu a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  margin: 2.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 40px;
  border: 2px solid #00000000;
  transition: all 0.4s ease;
}

.navMenu a:hover {
  color: #000000;
  border: 2px solid #1ed760;
}

.active {
  background-color: #1ed760;
}

.cards {
  display: flex;
  justify-content: center;
  text-align: center;
}

.cards h2 {
  text-align: center;
  font-size: 28px;
  text-decoration: none;
  color: #000000;
}

.card {
  width: 355px;
  margin: 2em;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 5em;
  padding-bottom: 5em;
  border-radius: 2em;
  box-shadow: 0px 16px 22px -6px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  transition: transform 250ms;
}

.card:hover {
  transform: translateY(-15px);
}
.card i {
  font-size: 8em;
  color: #1ed760;
  margin: 1rem;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#00f260),
    to(#00c04c)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.qcards {
  display: flex;
  justify-content: center;
  text-align: left;
}

.qcard {
  max-width: 450px;
  padding-right: 2em;
  padding-left: 2em;
}

form {
  max-width: 746px;
  margin: 50px auto;
  text-align: center;
}

.feedback-input {
  color: #2c2c2c;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-radius: 30px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #1ed760;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  padding-left: 1em;
}

.feedback-input:focus {
  border: 2px solid #00c04c;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat";

  background: #00f260;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  color: black;
  font-size: 24px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 600;
  max-width: 222px;
  font-size: 20px;
}
[type="submit"]:hover {
  background: #1ed760;
}

.rectangle {
  background-color: #1ed760;
  margin: 2px;
  width: 100%;
  height: 182px;
  padding-top: 1em;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 28px;
}

.icons a {
  color: white;
}
.icons a:visited {
  color: white;
}
#instagram {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

#footertag {
  display: flex;
  justify-content: center;
  font-weight: 400;
  padding-top: 1em;
}

hr.solid {
  border-top: 1px solid #d9d9d9;
  margin-top: 5rem;
  width: 65%;
}

@media only screen and (max-width: 600px){



  h1{
    font-size: 450%;
  }

  .introcontent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
  }

  .introcontent p {
    margin-top: 10%;
    width: 80%;
  }

  .navHead {
    padding: 1em 1em;
    
  }
  .cards {
    align-items: center;
    flex-direction: column;
  }

  .qcards {
    flex-direction: column;
  }

  .navMenu{
    display: none;
  }
}